.SearchBar{
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.logo{
    display: flex;
    margin-right: 12%;
    align-items: center;
}

.SearchInput{
    align-content: center;
}

.user-icons{
    margin-left: 14%;
}