.SearchBar{
    display: flex;
    justify-content: center;
    width: 73%;
    margin-left: 14%;
}

.logo{
    display: flex;
    align-items: center;
}

.instagramLogo{
    width: 20%;
    height: auto;
}

.SearchInput{
    align-content: center;
}

.user-icons{
    display: flex;
    flex-direction: row;
}