.comments {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

form{
    width: 100%;
}

.commentInput{
    margin-top: 1%;
}

.commentForm{
    width: 100%;
}

input{
    width: 100%;
    text-align: left;
}

.commentUsername{
    font-weight: bold;
    margin-right: .5%;
}
